{% extends 'subscription/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}


{% block main-content %}
<div class="container my-1">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 rounded">
<div class="container-fluid container-md mt-5">
<div class="  card bg-dark text-white">
  <img src="{% static 'subscription/images/stripe_subscription_image.png' %}" alt="" srcset="" class="card-img">
  <div class="card-img-overlay">
    <p class="card-title  text-dark h1 first1" id='first1'>Welcome to stripe_subscription Video</p>
    <p class="card-text text-dark h4 mt-2" id='first2'>Join Prime to watch latest movies, TV shows, and</p>
    <p class="card-text text-body mt-2 first3">award winning stripe_subscription Originals</p>
  </div>
</div> 
</div>
</div> 
</div>
</div> 



  {% endblock main-content %}  

